.header {
    max-width: 100%;
    height: 48px;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    .header__link-logo {
        justify-self: start;
        height: 48px;
    }
    .header__nav {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .header__nav-link {
            text-decoration: none;
            color: #A0A3A7;
            margin: 0 30px
        }
    }
    .header__btn {
        width: 159px;
        height: 48px;
        border-radius: 999px;
        border: none;
        font-size: 14px;
        color: #24282E;
        justify-self: right;
        cursor: pointer;
    }
    .hamburger-react {
        display: none;
    }
}

@media (max-width: 760px) {
    .header {
        font-size: 12px;
        grid-template-columns: 1fr 2fr 2fr;
        .header__link-logo {
            height: 43px;
        }
        .header__nav {
            .header__nav-link {
                margin-left: 12px;
                margin-right: 12px;
            }
        }
        .header__btn {
            max-width: 159px;
            max-height: 43px;
            font-size: 12px;
            margin-left: 15px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        .header__nav {
            display: none;
        }
        .header__btn {
            margin: 0 5px;
            justify-self: center;
        }
        .hamburger-react {
            display: block;
        }
    }
}

@media (max-width: 320px) {
    .header {
        width: 85vw;
        padding: 32px 10px;
        .header__btn {
            max-width: 140px;
        }
    }
}