.navigation {
    max-width: 100%;
    height: 48px;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    img {
        justify-self: start;
        height: 48px;
    }

    .navigation--nav {
        justify-self: center;

        .navigation--nav--list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .navigation--nav--list--item {
                justify-self: start;
                margin-left: 30px;
                margin-right: 30px;
                a {
                    text-decoration: none;
                    color: #A0A3A7;
                }
            }
        }
    }

    .navigation-btn {
        width: 159px;
        height: 48px;
        border-radius: 999px;
        border: none;
        font-size: 14px;
        color: #24282E;
        justify-self: right;
        cursor: pointer;
    }

    .navigation--nav--burger {
        width: 43px;
        height: 43px;
        display: none;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-self: end;

        .navigation--nav--burger--line {
            border-radius: 20px;
            width: 43px;
            height: 5px;
            background: #A0A3A7;
        }
    }
}

@media (max-width: 760px) {
    .navigation {
        font-size: 12px;
        grid-template-columns: 1fr 2fr 2fr;

        img {
            height: 43px;
        }

        .navigation--nav {
            justify-self: start;
            .navigation--nav--list {
                .navigation--nav--list--item {
                    margin-left: 12px;
                    margin-right: 12px;
                }
            }
        }
        .navigation-btn {
            max-width: 159px;
            max-height: 43px;
            font-size: 12px;
            margin-left: 15px;
        }
    }
}

@media (max-width: 500px) {
    .navigation {
        grid-template-columns: 1fr 1fr 1fr;
        .navigation--nav {
            display: none;
        }

        .navigation-btn {
            margin: 0 5px;
            justify-self: center;
        }

        .navigation--nav--burger {
            display: grid;
        }
    }
}

@media (max-width: 320px) {
    .navigation {
        width: 85vw;
        padding: 32px 10px;
        .navigation-btn {
            max-width: 140px;
        }
    }
}